{{!-- {{#if data}} --}}
    <h1>Información del libro</h1>
    
    <div>
        <h3>Titulo</h3>
        <p>{{this.title}}</p>
    </div>
    <div>
        <h3>Author</h3>
        <p>{{this.author}}</p>
        {{log this.author}}
    </div>
    </div>
    <div>
        <h3>Number of Pages</h3>
        <p>{{this.pages}}</p>
    </div>
    <div>
        <h3>Genere</h3>
        <p>{{this.genere}}</p>
    </div>
{{!-- 
    {{else}}

    <p>NO SE HA ENCONTRADO EL LIBRO</p>

    {{log this}}
{{/if}} --}}